<div class="container">
	{control authForm}
	{control passChangeForm}

	<div id="end-message" class="alert alert-success" style="display: none">
		<p><strong>Your password has been successfully updated!</strong></p>
		<p>Close this window or return to <a href="./">homepage</a>.</p>
	</div>
</div> <!-- /container -->

{block scripts}
	<script src="{$basePath}/js/jquery.form.js"></script>
	<script src="{$basePath}/js/forms.js"></script>
{/block}