<div class="container">
	{control authForm}
	{control passChangeForm}
</div> <!-- /container -->

{block scripts}
	<script src="{$basePath}/js/jquery.form.js"></script>
	<script src="{$basePath}/js/forms.js"></script>
{/block}