#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague


nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\Presenters\*Presenter

services:
	- App\Model\LDAPUserManager
	- App\RouterFactory
	router: @App\RouterFactory::createRouter
	config:
		class: \App\Model\Config()

	database:
		class: Nette\Database\Connection
		arguments: ['sqlite:%appDir%/../data/security.db']
